# Python
__pycache__/
*.pyc
.venv/
.env

# ANTLR (si NO quieres versionar los generados; quítalo si sí quieres)
*.tokens
*.interp
*.log
# Compiscript*Lexer.py
# Compiscript*Parser.py

# IDE/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Build
dist/
build/
